*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    border: solid red 3px;
    background:rgb(175, 107, 51);
    text-align: center;
}

.shop-img{
    border-radius: 10px;
}

.shop-img2{
    border-radius: 0px;
    width:50%;
}

.central-sections{
    margin-top: 50px;
}

.sliding-section{
    text-align: center;


    margin-top: 80px;
    margin-bottom:80px;
    border:solid green 2px;
}

.container-flex{
    display: flex;
    flex-direction: column;

}

.text-fl{
    border: solid grey 1px;
    background-color: lightgrey;
}


.container {
    position: relative;
  }
  
  .black-box {
    position: relative;
    height: auto;
    margin: 30px;
    margin-left:40%;
  }
  
  .green-box {
    position: absolute;
    background-color: lightgray;
    width: 35%;
    left: 15%;
    top: 15%;
    height: auto;
  }